* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

table {
    margin-top: 2.5vw;
}

td {
    width: 20%;
}

img {
    height: 4rem;
    width: 4rem;
    border-radius: 2rem;
}

#search-input {
    height: 6vh;
    margin-bottom: 1vw;
    text-align: center;
    font-size: 1.8vw;
}

#clear-link {
    font-size: 1.4vw;
}